body {
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 5vh;
}
/* Header */
.header-container {
    box-sizing: border-box;
    background-color: #FAFAFA;
    padding: 2.5%;
    border-radius: 1.5vw;
    display: flex;
    font-family: "Rubik-bold";
    height: 6.25vw;
    align-items: center;
    justify-content: space-between
}
.hamburger-menu{
    display: none;
}

.header-left
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}
.Arrow{
    display: flex;
    align-items: center;
}
.header-right{
    display: flex;
    align-items: center;
    gap : 3vw;
}
.header-left-mobile{
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: #FAFAFA;
    padding: 4%;
    margin-top: 35vw;
    margin-left: -10%;
    gap : 4vw;
    border-radius: 2vw;
    box-shadow: #FAFAFA;
}
.icons{
    font-size: 2vw;
}

.circle{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFA52F;
    padding: 2%;
    box-sizing: border-box;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    gap: 10px;
    font-family: "Rubik";
    font-weight: 600;
    font-size: 1vw;
    text-decoration: none;
}
.circle:hover{
    cursor: pointer;
    transform: scale(1.1);
}


/* shows hamburger menu for small screens */
/* Mobile View */
@media screen and (max-width: 768px) {
    .header-left, .search {
        display: none; /* Hide Navigation Links */
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .header-container {
        justify-content: space-between;
        padding: 1rem;
    }

    .header-middle img{
        text-align: center;
        height: 5vw;
        width: auto;
        min-height: 20px; 
    }
    .icons{
        font-size: 3.5vw;
    }
    .circle{
        min-width: 5vw;
        min-height: 5vw;
        font-size: 3vw;
        padding: 1%;
    }
}


/* end of header */

/* Footer Component */
.footer-container {
    display: block;
}

/* ========== TOP SECTION ========== */
.frame1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4A69E2;
    border-radius: 3vw;
    padding: 3% 5% 5%;
    color: white;
    margin-bottom: -38px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.frame1-left {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.f1-left-top h1 {
    font-family: "Rubik-bold";
    font-weight: 700;
    font-size: 4rem;
    max-width: 700px;
    /* white-space: nowrap; */
}
.mobile{
    display: none;
}

.f1-left-top label {
    font-family: 'OpenSans';
    font-size: 1rem;
}

.f1-left-down {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.f1-left-down input {
    width: 250px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px ;
    font-size: 1rem;
    background-color: #4A69E2;
    color: white;
}
.f1-left-down input::placeholder
{
    color: white;
}

.f1-left-down button {
    padding: 10px 15px;
    background: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.frame1-right {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.frame1-right .logo {

}

.frame1-right .circle {
    font-size: 1.5rem;
    font-weight: bold;
    background: orange;
    color: #4A69E2;
    padding: 5px 10px;
    border-radius: 50%;
    margin-top: -29%;
    margin-left: -5%;
    width : 2vw;
    height: 2vw;
}

/* ========== BOTTOM SECTION ========== */
.frame2 {
    display: flex;
    flex-direction: column;
    background-color: #232321;
    border-radius: 3vw;
    padding: 2% ;
    color: white;
    margin-top: -7px;
    overflow: hidden;
}

.f2-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 2rem;
}

.about-us h2, 
.categories h2, 
.company h2, 
.follow-us h2 {
    color: orange;
    margin-bottom: 1rem;
    font-family: "Rubik-bold";
    font-size: 2vw;
}

.about-us p {
    font-family: "OpenSans";
    font-size: 1.1rem;
    line-height: 1.4;
    max-width: 400px;
}

.categories ul, 
.company ul {
    list-style: none;
    font-size: 1.1rem;
    padding: 0;
}

.categories ul li, 
.company ul li {
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: "OpenSans";
}

.social-icons {
    display: flex;
    gap: 30px;
}

.social-icons svg {
    font-size: 1.5rem;
    cursor: pointer;
}
.f2-bottom {
    text-align: center;
    margin-top: 2rem;
}
.f2-bottom img{
    width: 100%;
    height: auto;
    margin-bottom: -4%;
    
}

/* ========== COPYRIGHT SECTION ========== */

.footer {
    text-align: center;
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #0e0d0d;
}

.footer a {
    color: #4A69E2;
    text-decoration: none;
}


/* ========== RESPONSIVE DESIGN ========== */
@media screen and (max-width: 768px) {
    .frame1 {
        flex-direction: column;
        align-items: center;
        /* text-align: center; */
    }
    .f1-left-top h1 {
        font-size: 2rem;
        margin-bottom: 1vw;
    }
    .mobile
    {
        display: block;
    }
    .bigscreen
    {
        display: none;
    }

    .f1-left-down {
        /* flex-direction: column; */
        align-items: center;
    }

    .f1-left-down input {
        width: 100%;
    }

    .frame1-right {
        /* justify-content: center; */
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .frame1-right img {
        width: 50%;
    }
    .frame1-right .circle
    {
        margin-top: -60px;
        width: 1px;
        height: 1px
    }

    .about-us h2, 
    .categories h2, 
    .company h2, 
    .follow-us h2 {
        font-size: 1.5rem;
    }
    .f2-top {
        grid-template-columns: 1fr;
    }

}


/* End of footer */