body {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vh;
}
/* Header */
.header-container {
    box-sizing: border-box;
    background-color: #FAFAFA;
    padding: 2.5%;
    border-radius: 1.5vw;
    display: flex;
    font-family: "Rubik-bold";
    height: 6.25vw;
    align-items: center;
    justify-content: space-between
}
.hamburger-menu{
    display: none;
}

.header-left
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}
.Arrow{
    display: flex;
    align-items: center;
}
.header-right{
    display: flex;
    align-items: center;
    gap : 3vw;
}
.header-left-mobile{
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: #FAFAFA;
    padding: 4%;
    margin-top: 35vw;
    margin-left: -10%;
    gap : 4vw;
    border-radius: 2vw;
    box-shadow: #FAFAFA;
}
.icons{
    font-size: 2vw;
}

.circle{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFA52F;
    padding: 2%;
    box-sizing: border-box;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    gap: 10px;
    font-family: "Rubik";
    font-weight: 600;
    font-size: 1vw;
}


/* shows hamburger menu for small screens */
/* Mobile View */
@media screen and (max-width: 768px) {
    .header-left, .search {
        display: none; /* Hide Navigation Links */
    }

    .hamburger-menu {
        display: block;
        cursor: pointer;
    }

    .header-container {
        justify-content: space-between;
        padding: 1rem;
    }

    .header-middle img{
        text-align: center;
        height: 5vw;
        width: auto;
        min-height: 20px; 
    }
    .icons{
        font-size: 3.5vw;
    }
    .circle{
        min-width: 5vw;
        min-height: 5vw;
        font-size: 3vw;
        padding: 1%;
    }
}


/* end of header */