body {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vh;
}
/* Header */
.header-container {
    box-sizing: border-box;
    background-color: #FAFAFA;
    padding: 2.5%;
    border-radius: 1.5vw;
    display: flex;
    font-family: "Rubik-bold";
    height: 6.25vw;
    align-items: center;
    justify-content: space-between


}

.header-left
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}
.Arrow{
    display: flex;
    align-items: center;
}
.header-right{
    display: flex;
    gap : 3vw;
}
.icons{
    font-size: 2vw;
}

.circle{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #FFA52F;
    padding: 2%;
    box-sizing: border-box;
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    gap: 10px;
    font-family: "Rubik";
    font-weight: 600;
    font-size: 1vw;
}




/* end of header */