/* General Container */
.register-container {
    display: flex;
    min-height: 100vh;
    background-color: #e8e6e0;
    color: black;
    padding: 30px;
}

/* Form Box */
.register-box {
    width: 100%;
    max-width: 450px;
    color: #232321;
}

/* Title */
.register-title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: "Rubik-bold";
}

/* Subtext */
.subtext {
    font-family: "OpenSans";
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 1rem;
}

.or-text {
    /* text-align: center; */
    font-size: 1rem;
    font-family: "OpenSans";
}

/* Social Login Buttons */
.social-login {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.social-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border: 1.5px solid #232321;
    border-radius: 10px;
    background-color: #e8e6e0;
    cursor: pointer;
}

.google-icon {
    font-size: 1.5rem;
    /* color: red; */
}

.facebook-icon {
    font-size: 1.5rem;
    color: blue;
}

.apple-icon {
    font-size: 1.5rem;
    color: black;
}

/* Input Fields */
.input-label {
    font-family: "Rubik-bold";
    display: block;
    /* font-weight: bold; */
    margin: 10px 0 15px;
    font-size: 1.5rem;
}

.input-field {
    width: 100%;
    padding: 12px;
    background-color: #e8e6e0;
    border: 1px solid #232321;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}

/* Gender Selection */
.gender-options {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.gender-options label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "OpenSans";
    font-size: 1rem;
    font-weight: 600;
}
input[type="checkbox"]
{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #2c0750;
    background-color: #e8e6e0;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
input[type="checkbox"]:checked
{
    border: 2px solid #2c0750;
    background-color: #020100;
}
input[type="checkbox"]:checked::after {
    content: "✔";
    font-size: 12px;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Password Info */
.password-info {
    font-size: 0.8rem;
    margin-top: -5px;
    margin-bottom: 15px;
    color: #36323B;
    font-weight: 500;
}

/* Checkbox Labels */
.checkbox-label {
    display: flex;
    align-items: flex-start;
    font-size: 0.9rem;
    color: black;
    font-weight: bold;
    gap: 10px;
    margin-bottom: 10px;
}

.checkbox-label input {
    width: 16px;
    height: 16px;
    margin-top: 3px;
}

.highlight {
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}

/* Register Button */
.register-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: black;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.send-icon {
    font-size: 1rem;
}
