@font-face {
  font-family: "Rubik";
  src: url('assests/font/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: "Rubik-Bold";
  src: url('assests/font/Rubik/Rubik-Bold.ttf');
}
@font-face {
  font-family: "OpenSans";
  src: url('assests/font/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}
@font-face {
  font-family: "Rubik-medium";
  src: url('assests/font/Rubik/Rubik-Medium.ttf');
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: Rubik;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7E7E3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
